<p-dataList [value]="legends" >
    <p-header>
    </p-header>
    <ng-template let-legend pTemplate="item">
        <div class="ui-grid ui-grid-responsive ui-fluid" style="font-size:12px;padding:5px;border-bottom:1px solid #D5D5D5;width:260px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-3" style="text-align:center"><img src="data:{{legend.contentType}};base64,{{legend.imageData}}"/></div>
                <div class="ui-grid-col-9">
                    <div class="ui-grid ui-grid-responsive ui-fluid">
                        {{legend.label}}
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataList>