<div style="background-color:rgb(240, 240, 240); height:30px; width: 100%">
<ul class="jtb">
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/toolbarSeparatorH.gif" [title]="" />
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/zoom_in.gif" [title]="'Zoom In'" (click)="toolbarClick(toolbarComponentType.ZoomIn)"/>
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/zoom_out.gif" [title]="'Zoom Out'" (click)="toolbarClick(toolbarComponentType.ZoomOut)"/>
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/pan_hand.gif" [title]="'Pan'" (click)="toolbarClick(toolbarComponentType.Pan)"/>
    </li>
     <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/full_extent.gif" [title]="'Full extent'" (click)="toolbarClick(toolbarComponentType.FullContent)"/>
    </li>
     <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/toolbarSeparatorH.gif" [title]="" />
    </li>
     <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/measurement.gif" [title]="'Measure'" (click)="toolbarClick(toolbarComponentType.Measurement)"/>
    </li>
    <li *ngIf="isDrawingMode" class="jtb" >
        <p-dropdown [options]="drawingTypeItems" [style]="{'height':'22px', 'font-size':'10px', 'margin-top':'5px', 'width':'80px'}" [ngModel]="drawingType" (onChange)="drawingTypeOnChange($event)"></p-dropdown>
    </li>
    <li *ngIf="isDrawingMode" class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/delete.gif" [title]="'Clear Measurement'" (click)="toolbarClick(toolbarComponentType.ClearMeasurement)"/>
    </li>
     <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/toolbarSeparatorH.gif" [title]="" />
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/map_layer.png" [title]="'Theme'" (click)="toolbarClick(toolbarComponentType.Layer)"/>
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/save.gif" [title]="'Save to PNG'" (click)="toolbarClick(toolbarComponentType.SaveToPNG)"/>
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/print.gif" [title]="'Print'" (click)="toolbarClick(toolbarComponentType.Print)"/>
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/toolbarSeparatorH.gif" [title]="" />
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/table.gif" [title]="Query" (click)="toolbarClick(toolbarComponentType.Query)"/>
    </li>
    <li class="jtb" >
        <p-dropdown [options]="items" [style]="{'height':'22px', 'font-size':'10px', 'margin-top':'5px', 'width':'160px'}" [ngModel]="value" (onChange)="onChange($event)"></p-dropdown>
    </li>
     <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/toolbarSeparatorH.gif" [title]="" />
    </li>
     <li class="jtb" >
        <a routerLink="/admin"><img style="margin-top:4px;" src="../src/app/images/setting.png" [title]="Admin" /></a>
    </li>
    <li class="jtb" >
        <img style="margin-top:4px;" src="../src/app/images/toolbarSeparatorH.gif" [title]="" />
    </li>
     <li class="jtb" >
         <span style="color:red">{{topToolbarMessage}}</span>
     </li>
</ul>

</div>

<div style="position:absolute;top:8px;right:10px;width:270px;">
    <div >Opacity</div>
    <div style="position:relative; left:55px; bottom:15px;">
        <p-slider [ngModel]="defaultOpacity" [step]="20" [style]="{'width':'200px'}" (onChange)="opacityOnChange($event)"></p-slider>
    </div>
</div>
