<div class="modal-backdrop fade in"
     [style.display]="showModal ? 'block' : 'none'"></div>
<div class="modal"
     tabindex="-1"
     role="dialog"
     [style.display]="showModal ? 'inline-block' : 'none'" #modal>
  <div class="modal-dialog" #modalDialog>
    <div class="modal-content" [draggable]="isDraggable" style="position:relative;">
      <div class="modal-header" style="height:40px">
        <!--
        <button type="button"
                class="close"
                aria-label="Close"
                (click)="cancelAction()">
          <span aria-hidden="true">&times;</span>
        </button>
        -->
        <h5 class="modal-title">
          {{title}}
        </h5>
      </div>
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <div class="modal-footer" style="height:50px">
        <button type="button" *ngIf="!hideCancelButton"
                class="btn btn-default btn-sm"
                (click)="cancelAction()">
          {{cancelLabel}}
        </button>
        <button type="button"
                class="btn btn-default btn-sm"
                [disabled]="btnOkDisabled"
                (click)="positiveAction()">
          {{positiveLabel}}
        </button>
      </div>
    </div>
  </div>
</div>