 <app-top-toolbar id="mapTopToolbar" (fireEvent)="fireEvent($event)" [items]="layers" [value]="selectedLayerId" (changeTargetLayer)="updateTargetLayer($event)" (opacityOnchange)="opacityOnchange($event)" (fireMeaurementEvent)="fireMeaurementEvent($event)"></app-top-toolbar>
 <div #mapElement id="map" class="map" style="border: 1px solid blue"> </div> 
 <div id="mapLayersContainer" *ngIf="isOpenLayerDiv" style = "position:absolute;top:70px;right:5px;border: 1px solid black;">
      <p-tabView>
            <p-tabPanel header="Theme">
                  <p-accordion [multiple]="true">
                        <p-accordionTab header="Services" selected="true">
                              <app-service-list [mapServicesList]="servicesList" [selectedMapService]="selectedService" (reloadLayers)="reloadLayers($event)"></app-service-list>
                        </p-accordionTab>
                        <p-accordionTab header="Layers" selected="true">
                              <app-layer-list [layers]="treeLayers" [selectedLayers]="selectedTreeLayers" (addLayer)="addLayerOnMap($event)"  (removeLayer)="removeLayerOnMap($event)"></app-layer-list>
                        </p-accordionTab>
                  </p-accordion>       
            </p-tabPanel>
            <p-tabPanel header="Legend">
                  <app-map-legend [serviceName]="serviceName"></app-map-legend>
            </p-tabPanel>
      </p-tabView>    
 </div>

 <modal id="queryPopupModal"
       [title]="'Query Result'"
       [dialogWidth]="650"
       [hideCancelButton]="true"
       (loaded)="queryPopupModalLoaded($event)"
       (closed)="onCloseConfirmation($event)"
       (opened)="onOpenHandler(grid)"
       [isDraggable]="true">
            <app-query-result #queryResult></app-query-result>
 </modal>