<!--<header>
    <ul class="nav nav-tabs">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/">Map</a></li>
        <li routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
    </ul>
</header>-->

<main>
    <router-outlet class="test"></router-outlet>
</main>