<p-dataTable *ngIf="isOpen" [style]="{'font-size':'11px'}" [resizableColumns]="true" [rows]="10" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" #dt [value]="rowData">
    <p-column *ngFor="let col of columnDefs" [field]="col.field" [header]="col.header" [style]="{'width': col.width}"></p-column>
</p-dataTable>